@model LoginSignup.Models.TripModel
@{
    ViewBag.Title = "TripDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TripDetails</h2>

@using (Html.BeginForm("TripDetails", "Trip", new { @id = "Form", @class = "form-group", role = "form" }, FormMethod.Post))
{
    @Html.ValidationSummary();
    @Html.AntiForgeryToken();

    <div class="form-group">
        <br /><br /><br />
        <label for="exampleInputName2" class="col-sm-2 control-label">Source</label>
        <div class="col-sm-10">
            @Html.DisplayTextFor(m => m.source)
        </div>
    </div>

    <div class="form-group">
        <br /><br /><br />
        <label for="exampleInputName2" class="col-sm-2 control-label">Destination</label>
        <div class="col-sm-10">
            @Html.DisplayTextFor(m => m.destination)
        </div>
    </div>

    <div class="form-group">
        <br /><br /><br />
        <label for="exampleInputName2" class="col-sm-2 control-label">Date</label>
        <div class="col-sm-10">
            @Html.DisplayTextFor(m => m.date)
        </div>
    </div>

    <div class="form-group">
        <br /><br /><br />
        <label for="exampleInputName2" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            @Html.DisplayTextFor(m => m.description)
        </div>
    </div>

    <div class="form-group">
        <br /><br /><br />
        <label for="exampleInputName2" class="col-sm-2 control-label">Vacant Seats</label>
        <div class="col-sm-10">
            @Html.DisplayTextFor(m => m.vacant_seats)
        </div>
    </div>

    <div class="form-group">
        <br /><br /><br />
        <label for="exampleInputName2" class="col-sm-2 control-label">Estimated Cost ($)</label>
        <div class="col-sm-10">
            @Html.DisplayTextFor(m => m.estimated_cost)
        </div>
    </div>

    <br /><br /><br />

    <input type="submit" class="btn btn-primary" value="Join" name="Add" />
}

<link href="~/Content/bootstrap-superhero.css" rel="stylesheet" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
