@using Microsoft.AspNet.Identity
@model LoginSignup.Models.TripModel
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  });
</script>
<script type="text/javascript">
    function checkCheckboxfor() {
        var a = document.getElementById("chbk");
        var b = document.getElementById("ifchecked");
        var c = document.getElementById("ifcheckeds");

        if (a.checked) {
            b.disabled = false;
            c.disabled = false;
        }
        else {
            b.disabled = true;
            c.disabled = true;
        }
    }
</script>

@using (Html.BeginForm("SaveDataTrip", "Trip", new { @id = "Form", @class= "form-group", role = "form" }, FormMethod.Post))
{
    @Html.ValidationSummary();
    @Html.AntiForgeryToken();
    
    <div class="form-group">
        <br /><br /><br />
            <label for="exampleInputName2" class="col-sm-2 control-label">Source *</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.source, new { @class = "form-control", placeholder = "source", required = "required", tabindex = 1 })
                @Html.ValidationMessageFor(m => m.source)
            </div>
    </div>
    
    <div class="form-group">
        <br /><br /><br />
        <label for="exampleInputName2" class="col-sm-2 control-label">Destination *</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.destination, new { @class = "form-control", placeholder = "destination", required = "required", tabindex = 2 })
            @Html.ValidationMessageFor(m => m.destination)
        </div>
    </div>
    
    <div class="form-group">
        <br /><br /><br />
        <label for="exampleInputName2" class="col-sm-2 control-label">Date *</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.date, new { @id="datepicker", @class = "form-control", placeholder = "01/01/2016", required = "required", tabindex = 3 })
            @Html.ValidationMessageFor(m => m.date)
        </div>
    </div>
    
    <div class="form-group">
        <br /><br /><br />
        <label for="exampleInputName2" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.description, new { @class = "form-control", tabindex = 4 })
            @Html.ValidationMessageFor(m => m.description)
        </div>
    </div>
    <div class="form-group">
        <br /><br /><br />
        <label for="exampleInputName2" class="col-sm-2 control-label">Car Available</label>
        <div class="col-sm-10">
            @Html.CheckBoxFor(m => m.carAvailable, new {@id="chbk", @class = "form-control", tabindex = 7, onclick = "checkCheckboxfor()", style = "height:15px;width:15px" })
            @Html.ValidationMessageFor(m => m.carAvailable)
        </div>
    </div>

    <div class="form-group">
        <br /><br /><br />
        <label for="exampleInputName2" class="col-sm-2 control-label">Vacant Seats</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.vacant_seats, new { @id = "ifcheckeds", @class = "form-control", tabindex = 5, disabled = "true" })
            @Html.ValidationMessageFor(m => m.vacant_seats)
        </div>
    </div>

    <div class="form-group">
        <br /><br /><br />
        <label for="exampleInputName2" class="col-sm-2 control-label">Estimated Cost ($)</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.estimated_cost, new {@id="ifchecked", @class = "form-control", tabindex = 6, disabled="true" })
            @Html.ValidationMessageFor(m => m.estimated_cost)
        </div>
    </div>
    
   
    <br /><br /><br />
    <p>Please fill all the mandatory(*) fields</p>

    <input type = "submit" class="btn btn-primary" value="Save" name="Add" />
}

<link href="~/Content/bootstrap-superhero.css" rel="stylesheet" />